.button {
  border: none;
  text-align: center;
  display: inline-block;

  background-color: $white;
  color: $wine;
  font-size: 16px;
  transition: $transition;

  &:hover {
    color: $wine;
  }

  &.inverted {
    background-color: $wine;
    color: $white;
  }
  &.bg-inverted {
    background-color: $wine;
  }
}

#formulario {
  .btn_submit {
    background-color: #41171b;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 45px;
    &:hover {
      border: 1px solid #41171b;
      background-color: white;
      color: #41171b;
      font-weight: bold;
    }
  }
}
/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .button {
    &:hover {
      transform: translateX(15px);
      transition: $transition;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
