/*
 * 
 * Modules > Buttons
 * 
 */
.button {
  border: none;
  text-align: center;
  display: inline-block;

  background-color: $white;
  color: $wine;
  font-size: 16px;

  &:hover {
    color: $wine;
  }

  &.inverted {
    background-color: $wine;
    color: $white;
  }
  &.bg-inverted {
    background-color: $wine;
  }
}
/*
 * 
 * Form > Buttons
 * 
 */
#formulario {
  .btn_submit {
    background-color: #41171b;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 45px;
    &:hover {
      border: 1px solid #41171b;
      background-color: white;
      color: #41171b;
      font-weight: bold;
    }
  }
}
