/*
 * 
 * Modules > Inputs
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  box-sizing: border-box;
  color: $black;
  background-color: $white;
  border: none;
  border-bottom: 1px solid $black;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: block;
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
