/*
 * 
 * Modules > Variables
 * 
 */
.button {
  border: none;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  color: #41171b;
  font-size: 16px;
  transition: all 0.4s ease-in-out; }
  .button:hover {
    color: #41171b; }
  .button.inverted {
    background-color: #41171b;
    color: #fff; }
  .button.bg-inverted {
    background-color: #41171b; }

#formulario .btn_submit {
  background-color: #41171b;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 45px; }
  #formulario .btn_submit:hover {
    border: 1px solid #41171b;
    background-color: white;
    color: #41171b;
    font-weight: bold; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .button:hover {
    transform: translateX(15px);
    transition: all 0.4s ease-in-out; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Modules > Colors
 * 
 */
.black {
  color: #000; }

.white {
  color: #fff; }

.wine {
  color: #41171b; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-black-weak {
  background-color: #2b2424; }

.bg-wine {
  background-color: #41171b; }

.bg-weak {
  background-color: #f3efef; }

.bg-img-wine {
  background-image: url("../img/banner.png"); }

/*
 * 
 * Modules > Fonts
 * 
 */
/*
 * 
 * Modules > Inputs
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px 15px;
  margin-bottom: 10px;
  display: block; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Modules > Mixins
 * 
 */
/*
 * 
 * Modules > Titles
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.title {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px; }

.subtitle {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: "Maven Pro", sans-serif; }

@font-face {
  font-family: "minion-pro";
  src: url("../fonts/minion-pro.otf"); }

a:hover {
  text-decoration: none; }

.a-white a {
  color: #fff; }

.a-wine a {
  color: #41171b; }

.width-100 {
  width: 100%; }

.navbar-brand {
  width: 75%; }

.border-line {
  margin: 60px 0; }
  .border-line img {
    width: 100%; }

.height {
  height: 300px; }

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  background-color: #fff; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .border-white {
    border-left: 3px solid #fff; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Footer
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
footer {
  background-color: #41171b;
  color: white; }
  footer p {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* RETIRAR NO DESKTOP */ }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Header
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.text-name {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px; }
  .text-name h4 {
    color: #492025;
    font-size: 21px;
    margin: 0; }
  .text-name h5 {
    color: #8c7475;
    font-weight: bold;
    font-size: 14px;
    margin: 0; }

.nav-header ul {
  display: flex; }

.nav-header a {
  padding: 12px;
  color: #6e5051;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 20px; }

.request-consulation {
  background-repeat: no-repeat;
  background: url("../img/banners/banner1.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  color: white; }
  .request-consulation .header-content-position {
    margin-bottom: 250px; }
  .request-consulation h1 {
    font-size: 50px; }
  .request-consulation p {
    width: 75%; }
  .request-consulation a {
    padding: 10px 15px;
    font-weight: bold; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Nav
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.border-wine {
  border-top: 15px solid #41171b; }
  .border-wine .button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .border-wine .navbar-brand {
    width: 100%;
    padding: 0;
    margin: 20px 0px; }
    .border-wine .navbar-brand .logo {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .border-wine .navbar-brand .logo img {
        margin-bottom: 10px; }
      .border-wine .navbar-brand .logo .text-logo h1 {
        color: #492025;
        text-align: center;
        font-size: 29px;
        margin: 0; }
      .border-wine .navbar-brand .logo .text-logo p {
        color: #8c7475;
        font-weight: bold;
        text-align: center;
        font-size: 17px;
        margin: 0; }

.button-teste {
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px; }

.button-items-teste a {
  color: #6e5051;
  margin-left: 10px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  font-size: 20px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .border-wine .navbar-brand .logo .text-logo h1 {
    font-size: 33px; }
  .border-wine .navbar-brand .logo .text-logo p {
    font-size: 20px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .border-wine .navbar {
    height: 74px; }
  .border-wine .navbar-brand {
    margin: 0; }
    .border-wine .navbar-brand .bg-logo::before {
      content: "";
      background-color: #fff;
      position: absolute;
      z-index: 0;
      width: 9%;
      height: 143%;
      left: 15px;
      top: -20%; }
    .border-wine .navbar-brand .logo {
      flex-direction: row; }
      .border-wine .navbar-brand .logo img {
        margin-bottom: 0;
        margin-right: 10px;
        position: relative; }
      .border-wine .navbar-brand .logo .text-logo h1 {
        font-size: 25px; }
      .border-wine .navbar-brand .logo .text-logo p {
        font-size: 15px; } }

/* Large devices (large desktops, 1200px and 1366px) */
@media (min-width: 1200px) {
  .border-wine .navbar-brand .logo .text-logo {
    margin-left: auto; }
  .border-wine .navbar-brand .bg-logo::before {
    width: 8%;
    left: 11px; } }

/* Large devices (large desktops, 1367px and up) */
@media (min-width: 1367px) {
  .border-wine .navbar-brand .logo .text-logo {
    margin-left: 0; }
  .border-wine .navbar-brand .bg-logo::before {
    width: 6%;
    left: 15px; } }

/* Large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  .border-wine .navbar-brand .logo .text-logo {
    margin-left: 0; }
  .border-wine .navbar-brand .bg-logo::before {
    width: 5%;
    left: 13px; } }

/*
 * 
 * Site > Sidebar
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > About
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.about {
  color: #41171b;
  padding: 30px;
  margin-bottom: -45px;
  /*h2 {
    font-size: 20px;
  }*/ }
  .about span {
    font-size: 40px; }
  .about .border-image {
    position: relative; }
    .about .border-image img {
      width: 100%;
      border: 3px solid #d5d4d4;
      padding: 15px; }
    .about .border-image .border-layer {
      width: 100%;
      height: 100%;
      background-color: #41171b;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(10%, 7%); }
  .about .text-about {
    margin-top: 50px; }
    .about .text-about i {
      color: #eee;
      font-size: 3.8rem; }
    .about .text-about .text-footer {
      font-family: "minion-pro", sans-serif; }
  .about .title-about {
    border-bottom: 1px solid #41171b;
    width: 20%; }
  .about .border-about {
    border-bottom: 2px solid #41171b;
    max-width: 140px;
    margin-bottom: 10px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .sobre {
    margin-bottom: 0; }
    .sobre .text-sobre {
      margin-top: 60px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > About
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.container-consulta {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.texto-agendar-consulta h2,
.texto-agendar-consulta p {
  color: #2e2828;
  font-family: "Maven Pro", sans-serif; }

.texto-agendar-consulta h2 {
  font-size: 2em;
  font-weight: 700; }

.texto-agendar-consulta p {
  font-size: 1em;
  font-weight: 700; }

.agendar-consulta a {
  padding: 25px 45px;
  display: flex;
  justify-content: center; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.contact h2 {
  color: #41171b;
  font-weight: bold;
  font-size: 2.5em; }

.contact .info {
  background-image: url("../img/banners/banner4.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px;
  margin-bottom: 30px; }
  .contact .info .border-gray {
    border: 2px solid gray;
    padding: 30px; }
  .contact .info a {
    word-wrap: break-word; }
    .contact .info a:hover {
      color: #fff;
      text-decoration: underline; }

/*
 * 
 * Site > Services
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.services {
  background: url("../img/banners/banner2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 0px 80px 0px;
  /*.service-texto {
    color: $white;
    padding: 26px;
  }*/ }
  .services .row {
    flex-direction: column; }
    .services .row a {
      font-weight: bold;
      margin-top: 37px;
      padding: 15px 60px; }
    .services .row .f-1 {
      flex: 1; }
    .services .row .section-title h2 {
      color: #fff;
      font-size: 45px; }
    .services .row .box-shadow {
      transition: all 0.3s ease-in-out;
      opacity: 0.9; }
      .services .row .box-shadow:hover {
        opacity: 1; }
      .services .row .box-shadow .box {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        height: 180px;
        justify-content: center;
        padding: 0 30px;
        text-align: center;
        transition: all 0.3s ease-in-out; }
        .services .row .box-shadow .box a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-self: center;
          margin: 0;
          padding: 0; }
        .services .row .box-shadow .box img {
          margin-bottom: 20px;
          transition: all 0.4s ease-in-out;
          width: 50px; }
        .services .row .box-shadow .box:hover img {
          margin-bottom: 20px;
          transform: scale(1.2);
          transition: all 0.4s ease-in-out; }
      .services .row .box-shadow .box-min {
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center; }
        .services .row .box-shadow .box-min a {
          margin: 0;
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 35px 0px; }
          .services .row .box-shadow .box-min a i {
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -176%); }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .services .row {
    flex-direction: row; }
    .services .row .box-shadow:hover {
      -webkit-box-shadow: 0px 13px 5px -4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 13px 5px -4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 13px 5px -4px rgba(0, 0, 0, 0.3);
      margin-top: -10px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Solution
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.solution-labor {
  background-image: url("../img/banners/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 35px 0;
  color: white; }
  .solution-labor a {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    border: 2px solid white; }
  .solution-labor h4 {
    transition: all 0.4s ease-in-out; }
    .solution-labor h4:hover {
      transform: translateX(25px);
      transition: all 0.4s ease-in-out; }
    .solution-labor h4 a {
      border: none;
      border-radius: 0;
      padding: 0;
      border: none;
      color: #fff; }
  .solution-labor .content-button {
    text-align: center; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
