/*
 * 
 * Site > About
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/

.container-consulta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.texto-agendar-consulta {
  h2,
  p {
    color: #2e2828;
    font-family: "Maven Pro", sans-serif;
  }

  h2 {
    font-size: 2em;
    font-weight: 700;
  }

  p {
    font-size: 1em;
    font-weight: 700;
  }
}

.agendar-consulta {
  a {
    padding: 25px 45px;
    display: flex;
    justify-content: center;
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
