/*
 * 
 * Site > Solution
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/

.solucao-trabalhista {
  background-image: url("../img/banner3.png");
  color: white;

  .margin-top {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  li {
    list-style: none;
  }

  h2 {
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 30pt;
  }

  a {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    border: 1px solid white;
  }

  .line {
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .solucao-trabalhista {
    .line {
      margin: 25px;
      border-left: 4px solid white;
      height: 400px;
    }
    h2 {
      margin-top: 100px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
