.services {
  display: flex;
  align-items: flex-end;
  h2 {
    font-family: 'Maven Pro', sans-serif;
  }
}

.service-text1 {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p, a{
    font-family: 'Maven Pro', sans-serif ;
  }
  
  button {
    background-color: white;
    padding: 10px 30px;
    border: none;
    a {
      color: #41171b;
      font-weight: bold;
    }
  }
}

.box {
  color: #41171b;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 200px;
}

.banner2 {
  background-image: url('../img/banner2.png');
  background-repeat: no-repeat;
  padding: 50px;

  .img-layer {
    img {
      min-height: 100%;
      min-width: 100%;
      position: absolute;
    }
  }
}

.reset {
margin: 0;
padding: 0;
}