.solucao-trabalhista {
  background-image: url('../img/banner3.png');
  color: white;
  
  .margin-top {
    margin-top: 30px;
  }

  img {
    position: relative;
    right: 10px;
  }

  li {
    list-style: none;
  }

  h2 {
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 25px;
    margin-top: 100px;
    font-size: 30pt;
  }

  button {
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    border: 1px solid white;
    background-color: transparent;
    a {
      color: white;
      font-family: 'Maven Pro', sans-serif;      
    }
  }

  h4 {
    font-family: 'Maven Pro', sans-serif;
    position: relative;
    right: 30px;
  }

  .line-y {
    margin: 25px;
    border-left: 4px solid white;
    height: 400px;
  }
}