/*
 * 
 * Site > Header
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
.bg-logo {
  &::before {
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: 0;
    width: 20%;
    height: 100px;
    left: 3%;
    top: -8%;
  }
  img {
    position: relative;
  }
}

.nav-header {
  ul {
    display: flex;
  }
  a {
    padding: 12px;
    color: #6e5051;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 20px;
  }
}

.header {
  background-repeat: no-repeat;
  background: url("../img/banner1.png") no-repeat center center; //CAMINHO CORRETO PARA AS IMAGENS
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  color: white;

  .header-content-position {
    margin-bottom: 250px;
  }

  h1 {
    font-size: 60px;
  }

  p {
    width: 75%;
  }

  a {
    padding: 10px 15px;
    font-weight: bold;
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .adjust-height {
    height: 90px;
  }
  .width-auto {
    width: auto;
  }
  .bg-logo {
    &::before {
      width: 5%;
      left: 14px;
      top: -12%;
      height: 124%;
    }
  }
  .nav-header {
    a {
      &:hover {
        border-bottom: 1px solid #41171b;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
