/*
 * 
 * Site > Nav
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
.border-wine {
  border-top: 15px solid $wine;
  .button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar-brand {
    width: 100%;
    padding: 0;
    margin: 20px 0px;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 10px;
      }
      .text-logo {
        h1 {
          color: #492025;
          text-align: center;
          font-size: 29px;
          margin: 0;
        }
        p {
          color: #8c7475;
          font-weight: bold;
          text-align: center;
          font-size: 17px;
          margin: 0;
        }
      }
    }
  }
}

.button-teste {
  background-color: $white;
  border: 2px solid;
  border-radius: 4px;
}
.button-items-teste {
  a {
    color: #6e5051;
    margin-left: 10px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 20px;
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .border-wine {
    .navbar-brand {
      .logo {
        .text-logo {
          h1 {
            font-size: 33px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-sm-max) {
  .border-wine {
    .navbar {
      height: 74px;
    }
    .navbar-brand {
      margin: 0;

      .logo {
        flex-direction: row;

        a {
          position: relative;

          &::before {
            content: "";
            background-color: #fff;
            position: absolute;
            z-index: 0;
            width: 93%;
            height: 110%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        img {
          margin-bottom: 0;
          position: relative;
        }

        .text-logo {
          h1 {
            font-size: 25px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

/* Large devices (large desktops, 1200px and 1366px) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1367px and up) */
@media (min-width: $screen-md-max) {

}

/* Large devices (large desktops, 1600px and up) */
@media (min-width: $screen-lg-min) {

}