/*
 * 
 * Site > Base
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/

body {
  font-family: "Maven Pro", sans-serif;
}

@font-face {
  font-family: "minion-pro";
  src: url("../fonts/minion-pro.otf");
}

a:hover {
  text-decoration: none;
}

.width-100 {
  width: 100%;
}

.navbar-brand {
  width: 75%;
}

.border-wine {
  border-top: 15px solid $wine;
}

.border-line {
  margin: 60px 0;

  img {
    width: 100%;
  }
}

.height {
  height: 300px;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px; // Height do Footer
  background-color: $white;
}

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .border-white {
    border-left: 3px solid $white;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
