/*
 * 
 * Site > Header
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
.teste {
  display: flex;
}
.text-name {
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  h4 {
    color: #492025;
    font-size: 21px;
    margin: 0;
  }
  h5 {
    color: #8c7475;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }
}
.bg-logo {
  &::before {
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: 0;
    width: 28%;
    height: 100px;
    left: 3%;
    top: -5%;
  }
  img {
    position: relative;
  }
}

.nav-header {
  ul {
    display: flex;
  }
  a {
    padding: 12px;
    color: #6e5051;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 20px;
  }
}

.header {
  background-repeat: no-repeat;
  background: url("../img/banner1.png") no-repeat center center; //CAMINHO CORRETO PARA AS IMAGENS
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  color: white;

  .header-content-position {
    margin-bottom: 250px;
  }

  h1 {
    font-size: 50px;
  }

  p {
    width: 75%;
  }

  a {
    padding: 10px 15px;
    font-weight: bold;
  }
}

/* MEDIA QUERY ------------------------------------------------------------*/
/* (iphone plus, 320px and up) */
@media (min-width: $screen-sm-minnnnnn) {
  .bg-logo {
    &::before {
      width: 35%;
    }
  }
  .text-name {
    h4 {
      font-size: 17px;
    }
    h5 {
      font-size: 11px;
    }
  }
}
/* (iphone plus, 360px and up) */
@media (min-width: $screen-sm-minnnnn) {
  .bg-logo {
    &::before {
      width: 30%;
    }
  }
  .text-name {
    h4 {
      font-size: 21px;
    }
    h5 {
      font-size: 13px;
    }
  }
}
/* (iphone plus, 375px and up) */
@media (min-width: $screen-sm-minnnn) {
  .bg-logo {
    &::before {
      width: 29%;
    }
  }
  .text-name {
    h4 {
      font-size: 22px;
    }
    h5 {
      font-size: 14px;
    }
  }
}
/* (iphone plus, 411px and up) */
@media (min-width: $screen-sm-minnn) {
  .bg-logo {
    &::before {
      width: 26%;
    }
  }
  .text-name {
    h4 {
      font-size: 24px;
    }
    h5 {
      font-size: 15px;
    }
  }
}
/* (iphone plus, 414px and up) */
@media (min-width: $screen-sm-minn) {
  .bg-logo {
    &::before {
      width: 25%;
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .header {
    h1 {
      font-size: 60px;
    }
  }
  .adjust-height {
    height: 90px;
  }
  .width-auto {
    width: auto;
  }
  .bg-logo {
    &::before {
      width: 13%;
      left: 14px;
      top: -8%;
      height: 138%;
    }
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .adjust-height {
    height: 90px;
  }
  .width-auto {
    width: auto;
  }
  .bg-logo {
    &::before {
      width: 9%;
      left: 14px;
      top: -12%;
      height: 124%;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .bg-logo {
    &::before {
      width: 5%;
    }
  }
}
